<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/output.css" />
    <title>Weather APP</title>
  </head>
  <body class="">
    <h1 class="text-center text-4xl mt-4 font-medium">
      Welcome to Weather App
    </h1>
    <p class="text-gray-400 text-center mt-1">
      A weather app for every day use!
    </p>
    <div class="flex justify-center mt-4">
      <svg
        height="231px"
        width="231px"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="-227.25 -227.25 938.01 938.01"
        xml:space="preserve"
        fill="#000000"
      >
        <g
          id="SVGRepo_bgCarrier"
          stroke-width="0"
          transform="translate(0,0), scale(1)"
        >
          <rect
            x="-227.25"
            y="-227.25"
            width="938.01"
            height="938.01"
            rx="469.005"
            fill=" rgb(219 234 254)"
            strokewidth="0"
          ></rect>
        </g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke="#CCCCCC"
          stroke-width="0.967024"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <polygon
            style="fill: #fcb641"
            points="475.512,241.691 421.2,289.571 444.016,358.283 372.952,372.267 358.336,443.203 289.76,419.915 241.752,474.131 193.752,419.915 125.168,443.203 110.552,372.259 39.488,358.275 62.312,289.563 8,241.691 62.312,193.819 39.488,125.107 110.56,111.123 125.176,40.187 193.752,63.467 241.752,9.259 289.76,63.475 358.336,40.187 372.952,111.131 444.024,125.115 421.2,193.827 "
          ></polygon>
          <path
            style="fill: #4d4d4d"
            d="M241.752,482.131c-2.288,0-4.472-0.984-5.992-2.696l-44.48-50.232l-63.544,21.568 c-2.168,0.728-4.56,0.512-6.544-0.632c-1.992-1.144-3.392-3.08-3.856-5.328l-13.544-65.728l-65.848-12.96 c-2.256-0.44-4.208-1.832-5.368-3.816c-1.16-1.984-1.408-4.368-0.68-6.552l21.152-63.688L2.712,247.699 c-1.72-1.512-2.712-3.704-2.712-6s0.992-4.488,2.712-6l50.336-44.376l-21.152-63.696c-0.72-2.176-0.472-4.568,0.68-6.552 c1.152-1.984,3.112-3.376,5.368-3.816l65.848-12.96l13.544-65.72c0.464-2.248,1.864-4.184,3.856-5.328 c1.992-1.152,4.376-1.376,6.544-0.632l63.536,21.568l44.48-50.232c3.032-3.432,8.944-3.432,11.976,0l44.48,50.232l63.544-21.568 c2.176-0.736,4.552-0.504,6.544,0.632s3.4,3.08,3.856,5.328l13.544,65.728l65.84,12.96c2.248,0.44,4.2,1.832,5.368,3.816 c1.16,1.984,1.4,4.368,0.68,6.552l-21.16,63.696l50.344,44.368c1.76,1.512,2.744,3.704,2.744,6c0,2.296-0.984,4.488-2.712,6 l-50.344,44.368l21.16,63.696c0.72,2.176,0.48,4.568-0.68,6.552c-1.168,1.984-3.12,3.376-5.368,3.816l-65.848,12.96l-13.544,65.72 c-0.464,2.248-1.864,4.184-3.856,5.328s-4.376,1.376-6.544,0.632l-63.536-21.568l-44.48,50.232 C246.224,481.147,244.04,482.131,241.752,482.131z M193.752,411.923c2.248,0,4.448,0.952,5.992,2.696l42.016,47.448l42.016-47.448 c2.144-2.408,5.512-3.312,8.56-2.272l59.992,20.368l12.792-62.056c0.648-3.16,3.136-5.616,6.288-6.232l62.168-12.232l-19.96-60.096 c-1.008-3.04-0.104-6.4,2.304-8.52l47.504-41.872l-47.504-41.872c-2.408-2.12-3.312-5.48-2.304-8.52l19.96-60.096l-62.16-12.232 c-3.16-0.624-5.64-3.08-6.288-6.232l-12.792-62.064l-60,20.368c-3.056,1.048-6.432,0.144-8.56-2.272l-42.024-47.464l-42.016,47.448 c-2.128,2.416-5.512,3.328-8.56,2.272l-60-20.368l-12.792,62.056c-0.656,3.16-3.128,5.616-6.296,6.232l-62.16,12.232l19.96,60.096 c1.008,3.04,0.104,6.4-2.304,8.52L20.08,241.683l47.504,41.864c2.408,2.12,3.32,5.48,2.304,8.52l-19.96,60.096l62.16,12.232 c3.168,0.624,5.64,3.08,6.296,6.232l12.792,62.064l60-20.368C192.016,412.059,192.888,411.923,193.752,411.923z"
          ></path>
          <circle
            style="fill: #fdc567"
            cx="241.752"
            cy="244.339"
            r="133.64"
          ></circle>
          <path
            style="fill: #4d4d4d"
            d="M241.752,385.979c-78.104,0-141.64-63.536-141.64-141.64s63.536-141.64,141.64-141.64 s141.64,63.536,141.64,141.64C383.392,322.435,319.856,385.979,241.752,385.979z M241.752,118.699 c-69.28,0-125.64,56.36-125.64,125.64s56.368,125.64,125.64,125.64c69.28,0,125.64-56.36,125.64-125.64 S311.032,118.699,241.752,118.699z"
          ></path>
        </g>
      </svg>
    </div>

    <!-- FORM SECTION -->
    <div class="bg-blue-100 mt-10">
      <form
        class="flex flex-col p-4 space-y-4"
        action="/get-geocode"
        method="POST"
      >
        <h2 class="font-medium">Find your City</h2>
        <input
          class="py-1 px-4 shadow-xl focus:outline-none focus:ring focus:ring-blue-300"
          type="text"
          name="cityName"
          placeholder="City name"
        />
        <input
          class="font-medium ring ring-blue-300 self-center py-1 px-2 hover:-translate-y-1 hover:shadow-xl"
          type="submit"
          value="SEARCH"
        />
      </form>
    </div>

    <!-- results -->

    <div>
      <div class="bg-blue-100 p-4">
        <% if(locals.cityData){ %> <% cityData.forEach(element => { %>

        <!-- signgle result -->
        <div class="ring ring-blue-300 mb-4 p-4">
          <div class="flex items-center justify-start space-x-4">
            <p class="font-medium"><%= element.name %></p>
            <p class="font-medium"><%= element.country %></p>
            <p class="font-medium"><%= element.country_code %></p>
          </div>
          <div class="border border-blue-300 mb-2 mt-1"></div>

          <div class="flex justify-between">
            <div>
              <p>
                <span class="font-medium">Lat:</span> <%= element.latitude %>
              </p>
              <p>
                <span class="font-medium">Long:</span> <%= element.longitude %>
              </p>
            </div>

            <form
              action="/get-weather"
              method="POST"
              class="flex items-center justify-center"
            >
              <input
                type="hidden"
                value="<%= element.latitude %>"
                name="latitude"
              />
              <input
                type="hidden"
                value="<%= element.longitude %>"
                name="longitude"
              />
              <input
                type="submit"
                value="Get weather"
                class="font-medium ring ring-blue-300 self-center py-1 px-2 hover:-translate-y-1 hover:shadow-xl"
              />
            </form>
          </div>
        </div>
        <% }); %> <% }else{ %>
        <p class="text-center text-gray-400">Please enter city for search</p>
        <% } %>
      </div>
    </div>

    <div class="bg-hero-img">
      <div>aaa</div>
    </div>
  </body>
</html>
